@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<AirportsAllViewModel>

<div id="statusMessageContainer"></div>

<h2 class="text-center">@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("AddAirport", "Airport", new {area = ""})" class="btn btn-primary">Add Airport</a>
    <button id="deleteSelected" class="btn btn-danger">Delete Selected</button>
    <button id="deletedHistory" class="btn btn-secondary">Deleted History</button>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>IATA</th>
            <th>ICAO</th>
            <th>Name</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr id="row-@item.IATA">
                <td>
                    <input type="checkbox" name="selectedRows" value="@item.IATA" />
                </td>
                <td>
                    <a href="@Url.Action("EditAirport", "Airport", new { area = "", iata = item.IATA })">@item.IATA</a>
                </td>
                <td>@item.ICAO</td>
                <td>@item.CommonName</td>
                <td>@item.LocationCountry</td>
            </tr>
        }
    </tbody>
</table>

@*Pagination using X.PagedList*@
<div id="paginationContainer" data-url="@Url.Action("AirportsPartial", "AdminPanel", new {area = "Admin"})">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            @Html.PagedListPager(Model, page => {
            if (page == 1)
            return Url.Action("AirportsPartial");
            else
            return Url.Action("AirportsPartial", new { page });
            }, new PagedListRenderOptions {
            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
            ContainerDivClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            })
        </ul>
    </nav>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    // Delete selected rows
    $(document).ready(function () {
        $('#deleteSelected').click(function () {
            var selectedRows = $('input[name="selectedRows"]:checked');
            var selectedIds = [];

            selectedRows.each(function () {
                selectedIds.push($(this).val());
            });

            if (selectedIds.length === 0) {
                alert('Please select at least one row.');
                return;
            }

            if (confirm('Are you sure you want to delete the selected rows?')) {
                $.ajax({
                    url: '@Url.Action("DeleteAirport", "Airport", new {area = ""})',
                    type: 'POST',
                    data: { iataCodes: selectedIds },
                    success: function (result) {
                        if (result.success) {
                            selectedRows.closest('tr').remove();
                        } else {
                            alert('An error occurred while deleting the rows. Please try again.');
                        }

                        if (result.message) {
                            var alertDiv = $('<div>');
                            alertDiv.text(result.message);

                            if (result.message.includes("Error:")) {
                                alertDiv.addClass('alert alert-danger');
                            } else {
                                alertDiv.addClass('alert alert-success');
                            }

                            $('#statusMessageContainer').empty().append(alertDiv);

                            // Hide the status message after a certain time interval (in milliseconds)
                            var statusMessageTimeout = 5000; // 5 seconds
                            var statusMessageElement = $("#statusMessageContainer");

                            setTimeout(function () {
                                statusMessageElement.fadeOut("slow", function () {
                                    $(this).empty(); // Clear the container content
                                });
                            }, statusMessageTimeout);
                        }
                    },
                    error: function () {
                        alert('An error occurred while deleting the rows. Please try again.');
                    }
                });
            }
        });

        // Load deleted airports partial view
        $('#deletedHistory').click(function () {
            $.ajax({
                url: '@Url.Action("DeletedHistoryAirports", "Airport", new {area = ""})',
                type: 'GET',
                success: function (result) {
                    $('#partialViewContainer').html(result);
                },
                error: function () {
                    alert('An error occurred while loading the deleted airports. Please try again.');
                }
            });
        });
    });
</script>