@{
    ViewBag.Title = "Administrative Panel";
}

<h3 class="text-center">@ViewBag.Title</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-primary" style="text-decoration:none">Moderation Actions</button>
                <button id="btnFlights" type="button" class="list-group-item list-group-item-dark" style="text-decoration:none" onclick="loadPartialViewOnClick('@Url.Action("FlightsPartial", "AdminPanel", new { area = "Admin" })')">Flight Management</button>
                <button id="btnAircraft" type="button" class="list-group-item list-group-item-dark" style="text-decoration:none" onclick="loadPartialViewOnClick('@Url.Action("AircraftPartial", "AdminPanel", new { area = "Admin" })')">Aircraft Management</button>
                <button id="btnAirports" type="button" class="list-group-item list-group-item-dark" style="text-decoration:none" onclick="loadPartialViewOnClick('@Url.Action("AirportsPartial", "AdminPanel", new { area = "Admin" })')">Airport Management</button>
                <button id="btnHeralds" type="button" class="list-group-item list-group-item-dark" style="text-decoration:none" onclick="loadPartialViewOnClick('@Url.Action("HeraldsPartial", "AdminPanel", new { area = "Admin" })')">Herald Management</button>

                @if (User.IsInRole("Admin"))
                {
                    <button id="btnUserManagement" type="button" class="list-group-item list-group-item-dark" style="text-decoration:none" onclick="loadPartialViewOnClick('@Url.Action("UsersPartial", "UserManagement", new {area = "Admin"})')">User Management</button>
                }
            </div>
        </div>
        <div id="partialViewContainer" class="col-md-9">
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function loadPartialViewOnClick(url) {
        console.log('loadPartialViewOnClick called with URL:', url);
        $.ajax({
            url: url,
            type: 'GET',
            success: function (result) {
                $('#partialViewContainer').html(result);

                // Reapply necessary JavaScript and CSS initialization here if needed
            },
            error: function (xhr, status, error) {
                // Handle error if necessary
            }
        });
    }

    function loadPagination() {
        console.log('loadPagination called');
        $(document).on('click', '.pagination a', function (e) {
            e.preventDefault();
            var container = $(this).closest('[data-url]');
            var url = container.data('url');
            var page = $(this).attr('href').split('page=')[1];

            loadPartialViewOnClick(url + (page ? '?page=' + page : ''));
        });
    }

    $(document).ready(function () {
        console.log('Document ready called');
        loadPagination();

        $('#btnFlights').click(function () {
            loadPartialViewOnClick('@Url.Action("FlightsPartial", "AdminPanel", new { area = "Admin" })');
        });

        $('#btnAircraft').click(function () {
            loadPartialViewOnClick('@Url.Action("AircraftPartial", "AdminPanel", new { area = "Admin" })');
        });

        $('#btnAirports').click(function () {
            loadPartialViewOnClick('@Url.Action("AirportsPartial", "AdminPanel", new { area = "Admin" })');
        });

        $('#btnHeralds').click(function () {
            loadPartialViewOnClick('@Url.Action("HeraldsPartial", "AdminPanel", new { area = "Admin" })');
        });

        $('#btnUserManagement').click(function () {
            loadPartialViewOnClick('@Url.Action("UsersPartial", "UserManagement", new {area = "Admin"})');
        });
    });
</script>