@model IEnumerable<AirportsAllViewModel>

<h3 class="text-center">Airports Search Results: @Model.Count()</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>IATA</th>
            <th>ICAO</th>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var airport in Model)
        {
            <tr id="row-@airport.IATA">
                <td>@airport.IATA</td>
                <td>@airport.ICAO</td>
                <td>@airport.CommonName</td>
                <td>@airport.LocationCity</td>
                <td>@airport.LocationCountry</td>
                <td>@airport.Lat</td>
                <td>@airport.Long</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    // Upon clicking a row, redirect to the airport details page
    function bindTableRowClickEvent() {
        $('tr[id^="row-"]').click(function () {
            var rowId = $(this).attr('id');
            var airportIata = rowId.replace('row-', '');

            window.location.href = '/Airport/GetDetailsAirport?iata=' + airportIata;
        });
    }

    $(document).ready(function () {
        bindTableRowClickEvent();
    });
</script>