@model IEnumerable<FlightAllViewModel>

<h3 class="text-center">Flights Search Results: @Model.Count()</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Flight Id</th>
            <th>A/C Reg</th>
            <th>A/C Type</th>
            <th>Flt Number</th>
            <th>Departure Airport</th>
            <th>Arrival Airport</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in Model)
        {
            <tr id="row-@flight.FlightId">
                <td>@flight.FlightId</td>
                <td>@flight.Registration</td>
                <td>@flight.Equipment</td>
                <td>@flight.FlightNumber</td>
                <td>@flight.DepartureId</td>
                <td>@flight.ScheduledArrival</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    // Upon clicking a row, redirect to the flight details page
    function bindTableRowClickEvent() {
        $('tr[id^="row-"]').click(function () {
            var rowId = $(this).attr('id');
            var flightId = rowId.replace('row-', '');

            window.location.href = '/Flight/GetDetailsFlight?flightId=' + flightId;
        });
    }

    $(document).ready(function () {
        bindTableRowClickEvent();
    });
</script>