@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Search Database Records";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row mb-3">
    <div class="col col-6">
        <div class="input-group">
            <input type="text" id="searchInput" class="form-control" placeholder="Search">
            <button class="btn btn-primary" onclick="searchDB()">Search</button>
            <button class="btn btn-secondary" onclick="clearSearch()">Clear</button>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col col-12">
        <button id="showFormAircraft" class="btn btn-info">Search Aircraft</button>
        <button id="showFormAirports" class="btn btn-info">Search Airports</button>
        <button id="showFormFlights" class="btn btn-info">Search Flights</button>
    </div>
</div>

<form id="searchForm" style="display: none;">
    <input type="hidden" id="query" name="query" value="">
    <input type="hidden" id="modelType" name="modelType" value="">
    <input type="hidden" id="properties" name="properties" value="">
    
    <div id="aircraftCheckboxes" style="display: none;">
        <label><input type="checkbox" id="aircraftId" name="aircraftId" value="aircraftId" /> A/C Id</label>
        <label><input type="checkbox" id="aircraftRegistration" name="aircraftRegistration" value="aircraftRegistration" /> A/C Registration</label>
        <label><input type="checkbox" id="aircraftEquipment" name="aircraftEquipment" value="aircraftEquipment" /> A/C Type</label>
    </div>

    <div id="airportCheckboxes" style="display: none;">
        <label><input type="checkbox" id="airportIata" name="airportIata" value="airportIata" /> IATA</label>
        <label><input type="checkbox" id="airportIcao" name="airportIcao" value="airportIcao" /> ICAO</label>
        <label><input type="checkbox" id="airportName" name="airportName" value="airportName" /> Name</label>
        <label><input type="checkbox" id="airportCity" name="airportCity" value="airportCity" /> City</label>
        <label><input type="checkbox" id="airportCountry" name="airportCountry" value="airportCountry" /> Country</label>
    </div>

    <div id="flightCheckboxes" style="display: none;">
        <label><input type="checkbox" id="flightId" name="flightId" value="flightId" /> Flight Id</label>
        <label><input type="checkbox" id="flightRegistration" name="flightRegistration" value="flightRegistration" /> A/C Registration</label>
        <label><input type="checkbox" id="flightEquipment" name="flightEquipment" value="flightEquipment" /> A/C Type</label>
        <label><input type="checkbox" id="flightNumber" name="flightNumber" value="flightNumber" /> Flight Number</label>
        <label><input type="checkbox" id="flightDeparture" name="flightDeparture" value="flightDeparture" /> Departure Airport</label>
        <label><input type="checkbox" id="flightArrival" name="flightArrival" value="flightArrival" /> Arrival Airport</label>
    </div>
</form>

@if (ViewBag.AircraftResults != null && ViewBag.ModelType == "aircraft")
{
    <div id="aircraftResults" style="display: block;">
        @await Html.PartialAsync("_AircraftResults", (IEnumerable<AircraftAllViewModel>)ViewBag.AircraftResults)
    </div>
}
else if (ViewBag.AirportResults != null && ViewBag.ModelType == "airports")
{
    <div id="airportResults" style="display: block;">
        @await Html.PartialAsync("_AirportResults", (IEnumerable<AirportsAllViewModel>)ViewBag.AirportResults)
    </div>
}
else if (ViewBag.FlightResults != null && ViewBag.ModelType == "flights")
{
    <div id="flightResults" style="display: block;">
        @await Html.PartialAsync("_FlightResults", (IEnumerable<FlightAllViewModel>)ViewBag.FlightResults)
    </div>
}
else
{
    <p>No results found.</p>
}

@section Scripts {
    <script>
        $('#showFormAircraft').click(function () {
            $('#aircraftCheckboxes').show();
            $('#airportCheckboxes').hide();
            $('#flightCheckboxes').hide();
            $('#searchForm').slideDown();
        });

        $('#showFormAirports').click(function () {
            $('#aircraftCheckboxes').hide();
            $('#airportCheckboxes').show();
            $('#flightCheckboxes').hide();
            $('#searchForm').slideDown();
        });

        $('#showFormFlights').click(function () {
            $('#aircraftCheckboxes').hide();
            $('#airportCheckboxes').hide();
            $('#flightCheckboxes').show();
            $('#searchForm').slideDown();
        });

        function getModelType() {
            if ($('#aircraftCheckboxes').is(':visible')) {
                return 'aircraft';
            } else if ($('#airportCheckboxes').is(':visible')) {
                return 'airports';
            } else if ($('#flightCheckboxes').is(':visible')) {
                return 'flights';
            }
            return null; // Default to null if none of the checkboxes are visible
        }

        function searchDB() {
            var searchValue = document.getElementById("searchInput").value;
            var modelType = getModelType();

            if (modelType) {
                var properties = getSelectedProperties(); // Get the selected properties
                var form = document.getElementById("searchForm");
                form.action = "/Search/IndexSearch";
                form.method = "GET";
                form.querySelector("#query").value = searchValue;
                form.querySelector("#modelType").value = modelType;
                form.querySelector("#properties").value = properties;

                form.submit(); // Submit the form
            }
        }

        function getSelectedProperties() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            var properties = Array.from(checkboxes).map(checkbox => checkbox.value);
            return properties.join(","); // Combine selected properties as comma-separated string
        }

        function clearSearch() {
            document.getElementById("searchInput").value = "";
            window.location.href = "/Search/IndexSearch";
        }
    </script>
}

@*<a id="sort-link-user" class="btn btn-outline-dark my-2 mx-auto" href="@Url.Action("All", "Explore", new { sort = " ", page = 1})" role="button" style="color:wheat;  background-color:#284564">By Author</a>
<input id="user-input" type="text" placeholder="Enter user" />

<script>
    document.getElementById('user-input').addEventListener('input', function () {
        var sort = this.value;
        var link = document.getElementById('sort-link-user');
        var href = link.getAttribute('href');
        href = href.replace(/sort=.*?(&|$)/, 'sort=' + encodeURIComponent(sort) + '$1');
        link.setAttribute('href', href);
    });
</script>*@

@*
<div class="text-center row">
    @foreach (var book in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem; max-height: 288px;"
                 src="@book.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@book.Title</h5>
                <p class="mb-0">Author: @book.Author</p>
                <p class="mb-0">Rating: @book.Rating</p>
                <p>Category: @book.Category</p>
            </div>


        </div>
    }
</div>*@