@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<UserViewModel>

@Html.AntiForgeryToken()

<div id="statusMessageContainer"></div>

<h2 class="text-center">@ViewBag.Title</h2>

<p>
    <button id="promoteSelected" class="btn btn-success">Promote to Moderator</button>
    <button id="goToModeratorList" class="btn btn-light">List of Current Moderators</button>
    <button id="lockOutSelected" class="btn btn-warning">Lockout Selected</button>
    <button id="goToLockedOutList" class="btn btn-light">List of Locked Users</button>
</p>

<div id="userListContainer">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Email</th>
                <th>Phonenumber</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr id="row-@item.Id">
                    <td><input type="checkbox" name="selectedUsers" value="@item.Id" /></td>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Pagination with X.PagedList*@
<div id="paginationContainer" data-url="@Url.Action("UsersPartial", "UserManagement", new {area = "Admin"})">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            @Html.PagedListPager(Model, page => {
            if (page == 1)
            return Url.Action("UsersPartial");
            else
            return Url.Action("UsersPartial", new { page });
            }, new PagedListRenderOptions {
            DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
            ContainerDivClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            })
        </ul>
    </nav>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    // Promote selected users to moderator
    $(document).ready(function () {
        $('#promoteSelected').click(function () {
            var selectedUsers = $('input[name="selectedUsers"]:checked');
            var selectedIds = [];

            selectedUsers.each(function () {
                selectedIds.push($(this).val());
            });

            if (selectedIds.length === 0) {
                alert('Please select at least one user.');
                return;
            }

            if (confirm('Are you sure you want to promote the selected users?')) {
                $.ajax({
                    url: '@Url.Action("Promote", "UserManagement", new {area = "Admin"})',
                    type: 'POST',
                    data: { userIds: selectedIds,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (result) {
                        if (result.success) {
                            selectedUsers.closest('tr').remove();
                        } else {
                            alert('An error occurred while promoting the users. Please try again.');
                        }

                        if (result.message) {
                            var alertDiv = $('<div>');
                            alertDiv.text(result.message);

                            if (result.message.includes("Error:")) {
                                alertDiv.addClass('alert alert-danger');
                            } else {
                                alertDiv.addClass('alert alert-success');
                            }

                            $('#statusMessageContainer').empty().append(alertDiv);

                            // Hide the status message after a certain time interval (in milliseconds)
                            var statusMessageTimeout = 5000; // 5 seconds
                            var statusMessageElement = $("#statusMessageContainer");

                            setTimeout(function () {
                                statusMessageElement.fadeOut("slow", function () {
                                    $(this).empty(); // Clear the container content
                                });
                            }, statusMessageTimeout);
                        }
                    },
                    error: function () {
                        alert('An error occurred while promoting the users. Please try again.');
                    }
                });
            }
        });

        // Load the normal "Users" partial view
        $('#goToModeratorList').click(function () {
            // Load the normal "Users" partial view
            loadPartialViewOnClick('@Url.Action("ModeratorListPartial", "UserManagement", new {area = "Admin"})');
        });

        // Lockout selected users = ban
        $('#lockOutSelected').click(function () {
            var selectedUsers = $('input[name="selectedUsers"]:checked');
            var selectedIds = [];

            selectedUsers.each(function () {
                selectedIds.push($(this).val());
            });

            if (selectedIds.length === 0) {
                alert('Please select at least one user.');
                return;
            }

            if (confirm('Are you sure you want to lockout the selected users?')) {
                $.ajax({
                    url: '@Url.Action("Lockout", "UserManagement", new {area = "Admin"})',
                    type: 'POST',
                    data: { userIds: selectedIds,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (result) {
                        if (result.success) {
                            selectedUsers.closest('tr').remove();
                        } else {
                            alert('An error occurred while locking the users. Please try again.');
                        }

                        if (result.message) {
                            var alertDiv = $('<div>');
                            alertDiv.text(result.message);

                            if (result.message.includes("Error:")) {
                                alertDiv.addClass('alert alert-danger');
                            } else {
                                alertDiv.addClass('alert alert-success');
                            }

                            $('#statusMessageContainer').empty().append(alertDiv);

                            // Hide the status message after a certain time interval (in milliseconds)
                            var statusMessageTimeout = 5000; // 5 seconds
                            var statusMessageElement = $("#statusMessageContainer");

                            setTimeout(function () {
                                statusMessageElement.fadeOut("slow", function () {
                                    $(this).empty(); // Clear the container content
                                });
                            }, statusMessageTimeout);
                        }
                    },
                    error: function () {
                        alert('An error occurred while locking the users. Please try again.');
                    }
                });
            }
        });

        // Load the normal "Users" partial view
        $('#goToLockedOutList').click(function () {
            // Load the normal "Users" partial view
            loadPartialViewOnClick('@Url.Action("LockedUsersPartial", "UserManagement", new {area = "Admin"})');
        });
    });
</script>