@model AircraftFormModel

@{
    ViewBag.Title = "Add a new Aircraft";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@{
    if (!string.IsNullOrEmpty(Model.Error))
    {
        <div class="alert alert-warning" role="alert">
            @Model.Error
        </div>
    }
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="AddAircraft" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.Id" class="form-label-add-edit">A/C ID</label>
                <input asp-for="@Model.Id" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Registration" class="form-label-add-edit">Registration</label>
                <input asp-for="@Model.Registration" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Registration" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Equipment" class="form-label-add-edit">A/C Type</label>
                <input asp-for="@Model.Equipment" class="form-control" aria-required="false" />
                <span asp-validation-for="@Model.Equipment" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <div class="mb-3 pt-3 pb-3">
                    <input class="form-control mb-2" type="file" name="file" id="file" />
                </div>
            </div>

            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Add Aircraft" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}