@model IEnumerable<FlightAllViewModel>

@{
    ViewBag.Title = "All previously flown flights";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    <div class="col-12 mb-3 row justify-content-end">
        <div class="col-3">
            <div class="input-group">
                <label for="sortDropdown" class="input-group-text">Sort By:</label>
                <select id="sortDropdown" class="form-select" onchange=" this.options[this.selectedIndex].value && (window.location=this.options[this.selectedIndex].value);">
                    <option value="">-- Select --</option>
                    <option value="@Url.Action("All", "Flight")">FlightId Asc &#x2191</option>
                    <option value="@Url.Action("AllSortedFlightByIdDesc", "Flight")">FlightId Desc &#x2193</option>
                    <option value="@Url.Action("AllSortedFlightByArpAsc", "Flight")">Airport IATA &#x2191;</option>
                    <option value="@Url.Action("AllSortedFlightByArpDesc", "Flight")">Airport IATA &#x2193;</option>
                </select>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Flight Id</th>
            <th>Registration</th>
            <th>Equipment</th>
            <th>Callsign</th>
            <th>Departure Airport</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr id="row-@item.FlightId">
                <td>@item.FlightId</td>
                <td>@item.Registration</td>
                <td>@item.Equipment</td>
                <td>@item.Callsign</td>
                <td>@item.DepartureId</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $('tr[id^="row-"]').click(function () {
        var rowId = $(this).attr('id');
        var flightId = rowId.replace('row-', '');

        window.location.href = '/Flight/GetDetails?flightId=' + flightId;
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}