@model FlightFormModel

@{
    ViewBag.Title = "Update an existing Historic Flight";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="EditFlight" asp-route-flightId="@Model.FlightId" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Registration" class="form-label-add-edit">A/C Registration</label>
                <select asp-for="@Model.Registration" class="form-control" aria-required="true" id="registrationDropdown">
                    <option value="">Select an aircraft</option>
                    @foreach (var aircraft in Model.AircraftList)
                    {
                        <option value="@aircraft.Registration" data-equipment="@aircraft.Equipment">@aircraft.Registration</option>
                    }
                </select>
                <span asp-validation-for="@Model.Registration" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Equipment" class="form-label-add-edit">A/C Type</label>
                <select asp-for="@Model.Equipment" class="form-control" aria-required="false" id="equipmentDropdown" disabled>
                    <option value="@Model.Equipment">@Model.Equipment</option>
                    @foreach (var aircraft in Model.AircraftList)
                    {
                        <option value="@aircraft.Equipment">@aircraft.Equipment</option>
                    }
                </select>
                <span asp-validation-for="@Model.Equipment" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Callsign" class="form-label-add-edit">CallSign</label>
                <input asp-for="@Model.Callsign" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Callsign" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.FlightNumber" class="form-label-add-edit">Flight Number</label>
                <input asp-for="@Model.FlightNumber" class="form-control" aria-required="false" />
                <span asp-validation-for="@Model.FlightNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.DepartureId" class="form-label-add-edit">Departure Airport</label>
                <select asp-for="@Model.DepartureId" class="form-control" aria-required="true">
                    <option value="">Select an airport</option>
                    @foreach (var airport in Model.AirportListDeparture)
                    {
                        <option value="@airport.Id">@airport.NameIATA.ToString()</option>
                    }
                </select>
                <span asp-validation-for="@Model.DepartureId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ScheduledArrival" class="form-label-add-edit">Arrival Airport</label>
                <select asp-for="@Model.ScheduledArrival" class="form-control" aria-required="false">
                    <option value="">Select an airport</option>
                    @foreach (var airport in Model.AirportListArrival)
                    {
                        <option value="@airport.Id">@airport.NameIATA.ToString()</option>
                    }
                </select>
                <span asp-validation-for="@Model.RealArrival" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.RealArrival" class="form-label-add-edit">Actual Arrival Airport</label>
                <select asp-for="@Model.RealArrival" class="form-control" aria-required="false">
                    <option value="">Select an airport</option>
                    @foreach (var airport in Model.AirportListActual)
                    {
                        <option value="@airport.Id">@airport.NameIATA.ToString()</option>
                    }
                </select>
                <span asp-validation-for="@Model.RealArrival" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Reserved" class="form-label-add-edit">Reserve Airport</label>
                <select asp-for="@Model.Reserved" class="form-control" aria-required="false">
                    <option value="">Select an airport</option>
                    @foreach (var type in Model.AirporListReserved)
                    {
                        <option value="@type.Id">@type.NameIATA.ToString()</option>
                    }
                </select>
                <span asp-validation-for="@Model.Reserved" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="hidden" asp-for="@Model.FlightId" />
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Edit Flight" />
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        // This script is used to populate the equipment dropdown based on the registration dropdown
        $(document).ready(function () {
            $("#registrationDropdown").change(function () {
                var selectedRegistration = $(this).val();
                var selectedEquipment = $(this).find("option:selected").data("equipment");

                $("#equipmentDropdown").val(selectedEquipment);
            });
        });
    </script>
}