@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<UserViewModel>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<p>
    <button id="promoteSelected" class="btn btn-primary">Promote to Admin</button>
    <button id="deleteSelected" class="btn btn-danger">Delete Selected</button>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th>Email</th>
            <th>Phonenumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr id="row-@item.Id">
                <td><input type="checkbox" name="selectedUsers" value="@item.Id" /></td>
                <td>@item.Username</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

        @Html.PagedListPager(Model, page => {
        if (page == 1)
        return Url.Action("UsersPartial");
        else
        return Url.Action("UsersPartial", new { page });
        }, new PagedListRenderOptions {
        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
        ContainerDivClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        })
    </ul>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#promoteSelected').click(function () {
            var selectedUsers = $('input[name="selectedUsers"]:checked').map(function () {
                return $(this).val();
            }).get();

            $.ajax({
                url: '@Url.Action("Promote", "User")',
                type: 'POST',
                data: { userIds: selectedUsers },
                success: function (result) {
                    // Handle success response
                },
                error: function () {
                    // Handle error response
                }
            });
        });
    });
</script>