<h3 class="text-center">Administrative Panel</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-primary" style="text-decoration:none">Administrative Options</button>
                <button type="button" class="list-group-item list-group-item-dark" style="text-decoration:none" onclick="loadPartialViewOnClick('@Url.Action("FlightsPartial", "Admin" )')">Flights</button>
                <button type="button" class="list-group-item list-group-item-dark" style="text-decoration:none" onclick="loadPartialViewOnClick('@Url.Action("AircraftPartial", "Admin")')">Aircraft</button>
                <button type="button" class="list-group-item list-group-item-dark" style="text-decoration:none" onclick="loadPartialViewOnClick('@Url.Action("AirportsPartial", "Admin")')">Airports</button>
                <button type="button" class="list-group-item list-group-item-dark" style="text-decoration:none" onclick="loadPartialViewOnClick('@Url.Action("HeraldsPartial", "Admin")')">Herald</button>
                <button type="button" class="list-group-item list-group-item-dark" style="text-decoration:none" onclick="loadPartialViewOnClick('@Url.Action("UsersPartial", "Admin")')">Users</button>
            </div>
        </div>
        <div id="partialViewContainer" class="col-md-9">

        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function loadPartialViewOnClick(url) {
        $.ajax({
            url: url,
            type: 'GET',
            success: function (result) {
                $('#partialViewContainer').html(result);
            },
            error: function (xhr, status, error) {
                // Handle error if necessary
            }
        });
    }
</script>