@model IEnumerable<HeraldAllViewModel>

@{
    ViewBag.Title = "All current aviation heralds";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    <div class="col-12 mb-3 row justify-content-end">
        <div class="col-3">
            <div class="input-group">
                <label for="sortDropdown" class="input-group-text">Sort By:</label>
                <select id="sortDropdown" class="form-select" onchange=" this.options[this.selectedIndex].value && (window.location=this.options[this.selectedIndex].value);">
                    <option value="">-- Select --</option>
                    <option value="@Url.Action("AllSortedHeraldByDateAsc", "Herald")">Date Asc &#x2191</option>
                    <option value="@Url.Action("All", "Herald")">Date Desc &#x2193</option>
                    <option value="@Url.Action("AllSortedHeraldByTypeAsc", "Herald")">Type A-Z &#x2191;</option>
                    <option value="@Url.Action("AllSortedHeraldByTypeDesc", "Herald")">Type Z-A &#x2193;</option>
                </select>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Date of Occurence</th>
            <th>Type</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr id="row-@item.OccurrenceId" class="@(GetRowColourClass(item.TypeOccurence))">
                <td>@item.OccurrenceDate</td>
                <td>@item.TypeOccurence</td>
                <td>@item.Details</td>
            </tr>
        }
    </tbody>
</table>

@{
    string GetRowColourClass(string typeOccurrence)
    {
        switch (typeOccurrence)
        {
            case "Crash":
                return "table-danger";
            case "Accident":
                return "table-warning";
            case "Report":
                return "table-light";
            case "News":
                return "table-secondary";
            default: //Incident
                return "table-info";
        }
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $('tr[id^="row-"]').click(function () {
        var rowId = $(this).attr('id');
        var occurrenceId = rowId.replace('row-', '');

        window.location.href = '/Herald/GetDetails?occurrenceId=' + occurrenceId;
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}