@model IEnumerable<AirportsAllViewModel>

@{
    ViewBag.Title = "All Airports";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="row">
    @foreach (var airport in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center" >@airport.CommonName</h5>
                    <p class="card-text">IATA Code: @airport.IATA, ICAO Code: @airport.ICAO</p>
                    <a href="@Url.Action("GetDetailsAirport", "Airport", new { iata = airport.IATA })" class="btn btn-primary">Airport Details</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}