@model IEnumerable<AirportsAllViewModel>

@{
    ViewBag.Title = "All Airports";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    @foreach (var airport in Model)
    {
        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="card-body">
                    <p rows="2" class="card-title text-center fw-bold" style="font-size:1.1rem">@airport.CommonName</p>
                    <p class="card-text">IATA Code: @airport.IATA, ICAO Code: @airport.ICAO</p>

                    <div class="d-flex justify-content-center text-center">
                        <a href="@Url.Action("GetDetailsAirport", "Airport", new { iata = airport.IATA })" class="btn btn-primary btn-rounded w-50">Airport Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}